body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.center {
  text-align: center;
  margin: auto;
  width: 60%;
  border: 5px solid #000000;
  padding: 10px;
}

.center label {
  text-align: left;
}

.center2 {
  margin: auto;
  width: 80%;
  border: 2px solid #000000;
  padding: 10px;
}

.hover {
  cursor:pointer;
}

#gooey-button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  color: #0c1016;
  position: relative;
  background-color: #469F76;
}

#disco-button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  color: #0c1016;
  position: relative;
}

#gooey-button:focus {
  outline: none;
}

#gooey-button .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#gooey-button .bubbles .bubble {
  background-color: #469F76;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

#gooey-button .bubbles .bubble:nth-child(1) {
  left: 33px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-1 3.02s infinite;
          animation: move-1 3.02s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#gooey-button .bubbles .bubble:nth-child(2) {
  left: 11px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-2 3.04s infinite;
          animation: move-2 3.04s infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#gooey-button .bubbles .bubble:nth-child(3) {
  left: 51px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-3 3.06s infinite;
          animation: move-3 3.06s infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#gooey-button .bubbles .bubble:nth-child(4) {
  left: 46px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-4 3.08s infinite;
          animation: move-4 3.08s infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#gooey-button .bubbles .bubble:nth-child(5) {
  left: 5px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-5 3.1s infinite;
          animation: move-5 3.1s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#gooey-button .bubbles .bubble:nth-child(6) {
  left: 1px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-6 3.12s infinite;
          animation: move-6 3.12s infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#gooey-button .bubbles .bubble:nth-child(7) {
  left: 10px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-7 3.14s infinite;
          animation: move-7 3.14s infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

#gooey-button .bubbles .bubble:nth-child(8) {
  left: 50px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-8 3.16s infinite;
          animation: move-8 3.16s infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

#gooey-button .bubbles .bubble:nth-child(9) {
  left: 26px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-9 3.18s infinite;
          animation: move-9 3.18s infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

#gooey-button .bubbles .bubble:nth-child(10) {
  left: 50px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-10 3.2s infinite;
          animation: move-10 3.2s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes move-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -130px);
            transform: translate(0, -130px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -130px);
            transform: translate(0, -130px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -76px);
            transform: translate(0, -76px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -76px);
            transform: translate(0, -76px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -94px);
            transform: translate(0, -94px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -94px);
            transform: translate(0, -94px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -86px);
            transform: translate(0, -86px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -86px);
            transform: translate(0, -86px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -117px);
            transform: translate(0, -117px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -117px);
            transform: translate(0, -117px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -125px);
            transform: translate(0, -125px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -125px);
            transform: translate(0, -125px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -66px);
            transform: translate(0, -66px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -66px);
            transform: translate(0, -66px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -63px);
            transform: translate(0, -63px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -63px);
            transform: translate(0, -63px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -122px);
            transform: translate(0, -122px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -122px);
            transform: translate(0, -122px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes move-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -108px);
            transform: translate(0, -108px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  99% {
    -webkit-transform: translate(0, -108px);
            transform: translate(0, -108px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
}
